@page "/"

<PageTitle>Mark</PageTitle>

<h1>Mark</h1>

<p>Search results for "coding": <mark>Coding</mark> is fun!</p>

<style>
    mark {
        background-color: #73ff3b;
        color: #333;
    }
</style>
