@page "/readdates"

<PageTitle>ReadDates</PageTitle>

<h1>ReadDates</h1>

<p>Event on <time datetime="2025-08-10T20:00">August 10, 2025, 8:00 PM</time></p>

<p>Current time: <time datetime="@currentDateTime.ToString("yyyy-MM-ddTHH:mm")">@currentDateTime.ToString("MMMM d, yyyy, h:mm tt")</time></p>

@code {
    private DateTime currentDateTime = DateTime.Now;
    
    protected override void OnInitialized()
    {
        currentDateTime = DateTime.Now;
    }
}
