<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NewHTMLTags</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-file-earmark-text" aria-hidden="true"></span> Mark
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collapsible">
                <span class="bi bi-menu-up" aria-hidden="true"></span> Collapsible
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="meter">
                <span class="bi bi-speedometer" aria-hidden="true"></span> Meter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="progress">
                <span class="bi bi-speedometer2" aria-hidden="true"></span> Progress
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="readdates">
                <span class="bi bi-calendar4-week" aria-hidden="true"></span> Read Dates
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="arrangeoptions">
                <span class="bi bi-option" aria-hidden="true"></span> Arrange Options
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wordwrap">
                <span class="bi bi-text-wrap" aria-hidden="true"></span> Word Wrap
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="figure">
                <span class="bi bi-0-circle" aria-hidden="true"></span> Figure
            </NavLink>
        </div>
    </nav>
</div>

